body {
    font-family: 'Verdana', sans-serif;
    background: #e6f7ff;
    color: #005f99;
    padding: 20px;
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 8px;
    border-bottom: 1px solid #007acc;
}
